<!DOCTYPE html>
<html>
  <head>
    <title>MoBaiJuLao</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="text-align:right;">
      <a href="/user">个人信息</a> &nbsp;&nbsp;&nbsp; <a href="/signout">注销</a>
    </div>
    <!--
    userinfos = {
      {
        'uid'       :   'uid',
        'username'  :   'username',
        'email'     :   'email',
        'regtime'   :   'regtime',
        'bantime'   :   'bantime',
        'role'      :   'role',
        'lognum'    :   'lognum',
        'logtime'   :   'logtime',
      }
      ...
    }
    -->
    <% if(userinfos.length > 0){ %>
    <div>
        <table>
          <th>用户ID</th><th>用户名</th><th>邮箱</th><th>注册时间</th><th>禁止时间</th><th>权限</th><th>登录次数</th><th>登录时间</th><th>修改权限点击</th>
          <% for(int i = 0;i < userinfos.length; i++){ %>
          <tr>
            <td><%= userinfos[i].uid %></td>
            <td><%= userinfos[i].username %></td>
            <td><%= userinfos[i].email %></td>
            <td><%= userinfos[i].regtime %></td>
            <td><%= userinfos[i].bantime %></td>
            <td><%= userinfos[i].role %></td>
            <td><%= userinfos[i].lognum %></td>
            <td><%= userinfos[i].logtime %></td>
            <td><a href= "/"+<%= userinfos[i].uid %>>editrole</a></td>
          </tr>
          <% } %>
        </table>
    </div>
    <% } %>
  </body>
</html>
